{% ckan_extends %}

{% block package_resources %}	
	{% set dataset_type = c.pkg_dict.type %}
	{% if dataset_type == 'dataset' %}
	<button class="btn btn-primary" id="provenance-btn" value="{{pkg_dict.get('id')}}"" onclick="getProvenance()">Dataset
		Provenance</button>
	<button class="btn btn-default" id="json-btn" value="{{pkg_dict.get('id')}}"" onclick="getDsAsJson()">Dataset as JSON</button>
	<script>
		function getProvenance() {
			let location = "https://geokur-dmp2.geo.tu-dresden.de/provViewer/?endpoint=https://geokur-dmp2.geo.tu-dresden.de/fuseki/ckan_mirror&dataset=https://geokur-dmp.geo.tu-dresden.de/dataset/" + document.getElementById("provenance-btn").value;
			window.open(location);
		};
		function getDsAsJson() {
			let location = "/api/action/package_show?id=" + document.getElementById("json-btn").value;
			window.open(location);
		};
	</script>
		
	{% endif %}
	{{ super() }}
{% endblock %}


{% block primary_content_inner %}
	{{ super() }}
	{% set dataset_extent = c.pkg_dict.spatial %}
	{% if dataset_extent %}
	{% snippet "spatial/snippets/dataset_map.html", extent=dataset_extent %}
	{% endif %}
{% endblock %}



