{% ckan_extends %}

{% block page_primary_action %}
<button class="btn btn-primary" style="float: right;" onclick="open_ingest_page()">
    <i class="fa fa-arrow-down"></i> {{ _('Ingest RDF') }}
</button>
<script>
    function open_ingest_page() {
        // open in this tab
        window.open('/ingest-rdf', '_self')
    }
</script>

{{ super() }}



<!-- </form> -->
{% endblock %}

{% block secondary_content %}

{% snippet "spatial/snippets/spatial_query.html" %}

{{ super() }}

{% endblock %}